.THIS {
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
    background-color:rgb(206, 212, 218);
}
.THIS.h1{
    display: flex;
   	justify-content: center;
    font-family:Courier;
    color:rgb(108, 117, 125);
    font-weight:bold;
    font-size: 2.5rem;
}



